<div class="container">
	<h1>Contacto</h1>

	<div id="texto" #textos>
		<p appResaltado>Esta es la pagina de contacto,puedes enviarnos dudas</p>
	</div>
	
	Tamaño del slider:
	<input type="number" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()">
	<button (click)="cargarSlider()">Cargar Slider</button>
	<button (click)="resetSlider()">Reset Slider</button>

	<div *ngIf="anchuraToSlider">
		<app-slider [anchura]="anchuraToSlider" [captions]="captions" (getAutor)="getAutorFromChild($event)"></app-slider>
	</div>

	<div class="container" *ngIf="autor">
		{{autor.nombre+" "+autor.website}}
	</div>

</div>


