<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>	
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in rutrum arcu. Donec a magna nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed semper interdum magna, ut cursus orci congue vitae. Vivamus eros sapien, congue sed pharetra at, ullamcorper in dolor. Sed sollicitudin tincidunt vestibulum. Maecenas sit amet neque est. Cras tincidunt feugiat lacus eget malesuada. Sed sed faucibus est, id sollicitudin felis. Nullam tempus blandit sem ut euismod. Sed dignissim eu orci quis mollis.
	</p>	
</article>