/*Importar fuentes custom*/
@font-face{
	font-family: "yanone";
	src:url("fonts/yanone.ttf");
}

@font-face{
	font-family: "finger";
	src:url("fonts/finger.ttf");
}

/*Estilos generales*/

*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: "yanone",Arial,Helvetica;
	font-size: 20px;
	background:url("../img/pattern.png");
	background-attachment: fixed;
}

.clearfix{
	float: none;
	clear: both;
}

/*Barra de navegacion*/
header{
	display: block;
	width: 100%;
	height:90px;
	background:rgba(53,103,164,0.8);
	position: fixed;
	text-transform: uppercase;
}

header ul{
	display: block;
	width: 30%;
	height: inherit;
	margin: 0px auto;
	margin-top:0px;
}

header ul li{
	display: inline-block;
	margin: 0px auto;
	text-align: center;
	line-height: 80px;
}

header a{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	height: inherit;
	text-decoration: none;
	color:white;
	transition: all 300ms;
}

header a:hover, .activated{
	background:rgba(0,0,0,0.8);
}

#logo a:hover{
	background:transparent;
	color:black;
	transform:scale(1.50,1.50);
}

#logo a{
	transition: color 500ms,transform 500ms;
}

/*logotipo*/

#logo{
	font-family: "finger";
	font-size: 30px;
}

/*contenedor principal*/
#content{
	min-height: 600px;
	height: auto;
	padding-top: 120px;
	width: 75%;
	margin: 0px auto;
	border-left: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
	box-shadow: 0px 0px 40px black;
	background: rgba(255,255,255,0.7);
}

/*footer*/

footer{
	width: 55%;
	margin: 0px auto;
	padding-top: 15px;
	color: rgba(0,0,0,0.5);
}

/*about*/
#title{
	width: 70%;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 70px;
}

#title h1{
	font-family: "finger";
	font-size: 60px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

#title h2{
	font-size: 25px;
	color: gray;
	margin-top: 5px;
	margin-bottom: 5px;
}

article.about{
	width: 70%;
	margin:0px auto;
	margin-bottom: 20px;
	font-size: 23px;
}

.about h2{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.about p{
	padding-bottom: 30px;
	padding-top: 20px;
	text-align: justify;
}

/*forms*/
.container{
	padding: 50px;
	padding-top: 10px;
}

.container .image{
	float:left;
	width: 47%;
}

.container .image img{
	width: 100%;
} 

.container .data{
	float: left;
	width: 48%;
	margin-left: 30px;
}

.container h2{
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

form{
	width: 80%;
}

form label{
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px; 
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
	width: 40%;
	padding: 5px;
}

form button,
form input[type="submit"],
.button-edit,
.button-delete{
	display: block;
	font-size: 17px;
	padding: 10px;
	margin-top: 15px;
	color: white;
	background:rgba(13,67,133,1);
	border: 1px solid;
	cursor:pointer;
}

.button-delete,
.button-edit{
	width: 30%;
	text-align: center;
	float: left;
	margin-right: 10px;
	text-decoration: none;
}

.button-edit{
	background: orange;
	border: none;
}

.button-delete{
	background: red;
	border: none;
}

form button:hover,
form input[type="submit"]:hover{
	background: rgba(53,103,164,0.8);
	border: 1px solid rgba(13,67,133,1);
}

.form-error{
	padding: 3px;
	background: red;
	color: white;
	font-size: 13px;
	margin-left: 5px;
}

form input[disabled]{
	opacity: 0.4;
	cursor: not-allowed;
}

.message{
	width: 50%;
	padding: 5px;
	border: 1px solid #eee;
}

.success{
	background: green;
	color:white;
}

.message a{
	color: white;
}

.failed{
	background: red;
	color: white;
}

/*projects*/
.project{
	list-style: none;
	display: block;
	float: left;
	width: 28%;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
}

.project .image{
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.project img{
	width: 100%;
}

.project a{
	text-decoration: none;
	color: black;
}

.confirm{
	display: block;
	font-weight: bold;
	margin-top: 20px;
}

