<header>
	<nav>
	  <ul>
	    <!-- <li><a [routerLink]="['/']" [routerLinkActive]="['activated']">Home</a></li> -->
	    <li><a [routerLink]="['/about']" [routerLinkActive]="['activated']">About</a></li>
	    <li><a [routerLink]="['/projects']" [routerLinkActive]="['activated']">Projects</a></li>
	    <li id="logo"><a href="#">JR</a></li>
	    <li><a [routerLink]="['/create-project']" [routerLinkActive]="['activated']">Crear proyecto</a></li>
	    <li><a [routerLink]="['/contact']" [routerLinkActive]="['activated']">Contacto</a></li>
  		</ul>
	</nav>	
</header>

<section id="content">
	<router-outlet></router-outlet>
</section>

<footer>
	Master en JavasCript &copy;
</footer>


